In [ ]:
# Boolean Data Type
When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [83]:
print(10>8)

True

In [86]:
print(12 > 24)

False

NoneType

In [87]:
a = True
type(a)

bool

In List and Tuples, you can mix data types and within that sub-indexing is also allowed

In [81]:
a=10.1
b=13.2
mixlist=[12,90.78,"apple","hi",True,False,[a,b,False]]

mixlist[2][0]

In [ ]:
# convert from tuple to list and vice versa

In [89]:
# Example 1: Convert the tuple to a list
tuples = (0, 2, 4, 6, 8)
mylist = list(tuples)
mylist
mytuple=tuple(mylist)
mytuple

(0, 2, 4, 6, 8)

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [31]:
dz = {"1":'plane', "2":'train', "3":300}
print(dz)

{'1': 'plane', '2': 'train', '3': 300}

In [24]:
dz = {"1":['plane','helicopter'], "2":'train', "3":'bus'}
print(dz["1"],dz["3"])

['plane', 'helicopter'] bus

Does not allow duplicates.Only the last value will be taken.Don't use it this way

In [47]:
cardict = {
  "brand": "Maruti",
  "model": "Swift",
  "year": 2018,
  "year": 2000
}
print(cardict)

{'brand': 'Maruti', 'model': 'Swift', 'year': 2000}

In [37]:
print(cardict["year"])

2000

In [39]:
#Break a single line into multiple lines
a = 200
if a > 100:
    print("the value of a =",a)
b = 300
if b \
    > 200:
        print(b)

the value of a = 200
300

In [48]:
#Change the values
cardict = {
  "brand": "Maruti",
  "model": "Swift",
  "year": 2018
}
cardict["year"]=2019

In [49]:
print(cardict["year"])

2019

In [53]:
#Delete the values
cardict = {
  "brand": "Maruti",
  "model": "Swift",
  "year": 2018
}
cardict.pop("model")
print(cardict)

{'brand': 'Maruti', 'year': 2018}

In [51]:
#copy one dictionary to the other dictionary
cardict = {
  "brand": "Maruti",
  "model": "Swift",
  "year": 2018
}
newdict = cardict.copy()
print(newdict)

{'brand': 'Maruti', 'model': 'Swift', 'year': 2018}

In [ ]:
#Sets are used to store multiple items in a single variable.
#Set is one of 4 built-in data types in Python used to store collections of data,
#the other 3 are List, Tuple, and Dictionary, all with different qualities and usage
#unordered,can't change but remove and add

In [54]:
travelset={"valet","clothes","phone","medicines","toiletry"}
print(travelset)

{'medicines', 'clothes', 'valet', 'phone', 'toiletry'}

In [57]:
#duplicates not allowed
travelset={"valet","clothes","clothes","medicines","toiletry"}
print(travelset)

{'medicines', 'clothes', 'toiletry', 'valet'}

In [58]:
#True & 1 are same and duplicates not allowed
someset={"valet","clothes","phone",True,1,2}
print(someset)

{True, 2, 'valet', 'clothes', 'phone'}

In [ ]:
#Python supports the usual logical conditions from mathematics:

#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to: a <= b
#Greater than: a > b
#Greater than or equal to: a >= b

In [59]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
#Yesterday we saw no-indentation following if statement throws an error

In [60]:
x = 300
y = 43
if y > x:
  print("y is greater than x")
elif x == y:
  print("x and y are equal")
else:
  print("x is greater than y")

x is greater than y

In [63]:
# can have else only without elif
y = 200
x = 33
if y > x:
  print("y is greater than x")
else:
  print("y is not greater than x")

y is greater than x

In [ ]:
#The and keyword is a logical operator, and is used to combine conditional statements:

In [65]:
P = 200
Q = 33
R = 500
if P > Q and R > P:
  print("Both conditions are True")

Both conditions are True

In [66]:
#Test if a is greater than b, OR if a is greater than c:

In [ ]:
P = 200
Q = 33
R = 500
if P > Q or R > P:
  print("atleast one condition is True")

In [ ]:
#You can have if statements inside if statements, this is called nested if statements.

In [69]:
P = 60
if P > 50:
    print("P greater than 50")
    if P > 75:
        print("P greater than 75")
    else:
        print("P less than 75 but greater than 50")

P greater than 50
P less than 75 but greater than 50

# For Loops
A for loop is used for iterating over a sequence 
(that is either a list, a tuple, a dictionary, a set, or a string).

works more like an iterator method as found in other object-orientated programming languages.

In [70]:
cars = ["Hyundai", "Kia", "Honda"]
for c in cars:
  print(c)

Hyundai
Kia
Honda

In [71]:
#iterate over a string
for i in "adityamission":
  print(i)

a
d
i
t
y
a
m
i
s
s
i
o
n

# The break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [75]:
#Exit the loop when p is "mars":
for p in ["moon", "mars", "sun","neptune"]:
    print("The planet name is ",p)
    if p == "mars":
        break

The planet name is  moon
The planet name is  mars

In [76]:
#continue & don't act when p is neptune
for p in ["moon", "mars", "sun","neptune"]:
    if p == "neptune":
        continue
    print("The planet name is ",p)

The planet name is  moon
The planet name is  mars
The planet name is  sun

# The range() Function
To loop through a set of code a specified number of times, we can use the range() function,

In [79]:
for x in range(3,6):
  print(x)

3
4
5

# The while Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [80]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5